body{
    
    font-family: "Poppins", sans-serif;
    background-color: black;
    padding: 10;    color: white;

}

.nav{
    text-align: center;
    color: white;
}

h1{
    padding: 5%;
}

.icon i
    {

        background-color: aqua;
        padding: 5% 45%;
    }

    .con p {
        padding: 5% 45%;
        text-align: center;

    }

    h2{
        padding: 5%;
    }

.container card{
    padding: 10%;
}
.container-fluid i{
margin-bottom: 3%;
}