body{
    
    font-family: "Poppins", sans-serif;

}

.nav{
    text-align: center;
    color: white;
}

h1{
    padding: 5%;
}

.icon i
    {

        background-color: aqua;
        padding: 5% 45%;
    }

    .con p {
        padding: 5% 45%;
        text-align: center;

    }